body,
html {
    margin: 0;
    background: #fff;
}

.doodle {
    position: absolute;
    background: #151515;
    width: 1000px;
    height: 400px;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.higgsField {
    position: absolute;
    width: 70px;
    height: 70px;
}

.higgsField img {}
