body,
html {
    margin: 0;
    background: #fff;
}

.doodle {
    position: relative;
    background: #151515;
    width: 1000px;
    height: 400px;
    margin-left: 50vw;
    transform: translateX(-50%);
    overflow: hidden;
}

.banner {
    position: absolute;
    width: 0px;
    height: 30px;
    left: 160px;
    top: 70px;
    overflow: hidden;
    transition: width .8s ease;
    cursor: pointer;
    z-index: 10000;
}

.bannerIn {
    width: 320px !important;
}

.banner a {
    position: absolute;
    width: 350px;
    font-size: 16px;
    left: 20px;
    line-height: 30px;
    color: #bababa;
    transition: all .2s;
}

.banner a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    transition: all .2s;
}

.banner:hover a {
    color: white !important;
}

.higgsField {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    animation: pulse 10s linear infinite;
}

.higgsField img {
    position: absolute;
    transform-origin: center center;
    transform: rotate(0);
    animation: r1 8s linear infinite;

}

.higgsField img:first-child {
    transform: scale(1.5) rotate(60deg);
    animation: r2 8s linear infinite;
}

.higgsField img:last-child {
    transform: scale(.5) rotate(0);
    animation: r3 8s linear infinite;
}

.legend {
    position: absolute;
    width: 600px;
    height: 300px;
    margin-top: 50px;
    margin-left: -100px;
    background: white;
    border-radius: 0 35px 35px 0;
    transform: translate3d(-92%, 0, 0);
    overflow: hidden;
    z-index: 10000000;
    transition: transform .2s ease-in;
    color: white;
}

.legend__handle {
    float: left;
    width: 8%;
    height: 100%;
    background: #efefef;
    color: #575757;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend__handle p {
    transform: rotate(90deg);
}

.legend__content {
    float: left;
    width: 92%;
    height: 100%;
    background: #232333;
    background-image: url('/assets/SVG/legend_pattern.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    box-sizing: border-box;
}

.openLegend {
    transform: translate3d(0, 0, 0) !important;
    transition: transform .2s ease-out;
}

.legendIn {
    animation: legendIn .6s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}

.play {
    position: absolute;
    right: 20%;
    bottom: -150px;
    widtH: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play img {
    width: 40%;
    height: auto;
    transition: transform .2s ease-in;
}

.play:hover img {
    transform: rotate(-45deg);
    transition: transform .2s ease-out;
}

.playIn {
    animation: playIn .6s ease-out;
    animation-fill-mode: forwards;
}

.legend h1 {
    color: white;
    font-weight: 800;
}

.legend__content__info {
    display: flex;
    margin: 10px 0;
    justify-content: flex-start;
    align-items: center;
    width: 450px;
}

.legend__graphic {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.particle-bosson {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: red;
}

.particle-bosson__wrapper {
    margin-right: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
}

.particle-photon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: auto;
}

.p1 {
    background: #388bc7;
}

.p2 {
    background: #c73838;
}

.p3 {
    background: #38c76f;
}

.p4 {
    background: #c7a638;
}

.particles-photons {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 55px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin-right: 20px;
}

.field {
    background: url('/assets/SVG/HiggsField.svg');
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

@keyframes playIn {
    from {
        bottom: -150px;
    }

    to {
        bottom: 40px;
    }
}

@keyframes legendIn {
    from {
        margin-left: -150px;
    }

    to {
        margin-left: 0;
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2)
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes r1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes r2 {
    to {
        transform: scale(1.5) rotate(-360deg);
    }
}

@keyframes r3 {
    to {
        transform: scale(.5) rotate(-360deg);
    }
}
